/* $Id$ */
#header {
    background: red;
}

#logo {
    background: #eee8aa;
}

#banner {
    background: #add8e6;
}

#body {
    background: #8b008b;
}

#telecommande {
    background: #f0fff0;
}

#content-container {
    background: #7fffd4;
}
